#loading2 {
  width: 64px;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  $num: 5;

  .bar {
    width: #{(100% / (2*$num))};
    height: 100%;
    background-color: aquamarine;
    margin: 0 #{(100% / (4*$num))};
    animation: biyon 1.2s infinite ease-in-out both;
  }

  @for $x from 0 through ($num - 1) {
    .bar#{$x}{
      animation-delay: #{($x)*0.2}s;
    }
  }
}

@keyframes biyon {

  0%,
  60%,
  100% {
    transform: scaleY(0.4);
  }
  20%{
    transform: scaleY(1);
  }
}