#loading1 {
  width: 64px;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  $size: 8;

  .square {
    width: #{(100% / $size)};
    height: #{(100% / $size)};
    background-color: aquamarine;
    animation: fadeout 3s infinite ease-in-out both;
  }

  @for $x from 0 through ($size - 1) {
    @for $y from 0 through ($size - 1) {
      .sq#{$x}-#{$y} {
        animation-delay: #{($x+$y)*0.07}s;
      }
    }
  }
}

@keyframes fadeout {

  0%,
  100% {
    transform: scale(0);
  }

  33% {
    transform: scale(1.0);
  }
}