#loading3 {
  width: 64px;
  height: 64px;
  .ring{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px solid transparent;
    border-top-color: aquamarine;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}